body {
    font-family: Arial, sans-serif;
    background-color: #d9ebf4;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: arial;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}
h3 {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: 500;
}
p {
    font-family: arial;
    font-weight: 300;
}
.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9ebf4;
    height: 4rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid gray;
}
.header-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #d9ebf4;
    height: 4rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid gray;
}
.header-mobile .mobile {
    display: none;
    width: 25%;
    text-align: center;
    z-index: 100;
}
.header-mobile .mobile img {
    padding: 5px;
}
.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: arial;
    font-size: 1.35rem;
    letter-spacing: 2px;
}
.logo img {
    margin-left: 1.5rem;
    height: 3rem;
    width: auto;
}
nav {
    margin: 0 24px;
}
nav span {
    margin-left: 1rem;
}
nav .mobile {
    display: none;
}
