body {
    font-family: Arial, sans-serif;
    background-color: #d9ebf4;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: arial;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}
h3 {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: 500;
}
p {
    font-family: arial;
    font-weight: 300;
}
.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9ebf4;
    height: 4rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid gray;
}
.header-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #d9ebf4;
    height: 4rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid gray;
}
.header-mobile .mobile {
    display: none;
    width: 25%;
    text-align: center;
    z-index: 100;
}
.header-mobile .mobile img {
    padding: 5px;
}
.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: arial;
    font-size: 1.35rem;
    letter-spacing: 2px;
}
.logo img {
    margin-left: 1.5rem;
    height: 3rem;
    width: auto;
}
nav {
    margin: 0 24px;
}
nav span {
    margin-left: 1rem;
}
nav .mobile {
    display: none;
}
.first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    background-color: #61a4e2;
    top: 64px;
}
.first-img {
    display: block;
    position: relative;
    max-width: 55%;
    overflow: hidden;
    padding: 2rem 2.5rem 2rem 1.5rem;
}
.first img {
    width: 100%;
    height: auto;
}
.first-content {
    width: 30%;
    height: auto;
    margin: auto 0;
    line-height: 1.1;
}
.first-content .button {
    positon: relative;
    display: block;
    background-color: #d9ebf4;
    color: #000000;
    max-width: 300px;
    font-size: 1.6rem;
    font-family: arial;
    font-weight: 300;
    padding: 0.75rem;
    margin: 2.5rem 0;
    text-align: center;
}
.second {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    margin-top: 67px;
}
.second-main {
    display: block;
    position: relative;
    min-width: 55%;
    overflow: hidden;
    padding: 2rem 1.5rem 0 1.5rem;
    border-right: 1px solid lightgray;
}
.second-main img {
    width: 100%;
    height: auto;
}
.second-main span {
    display: block;
    position: relative;
    padding-top: 2rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    line-height: 1.5;
}
.credit {
    font-weight: 400;
}
.second-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-width: 423px;
    height: auto;
}
.second-info .img-desktop {
    display: flex;
    width: 35%;
    margin: 0;
    float: left;
    padding: 1rem;
}
.second-info .img-mobile {
    display: none;
    position: relative;
    max-width: 93%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.second-content p {
    display: block;
    position: relative;
    width: 100%;
    margin: -1rem 0;
}
.second-content h3 {
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}
.guest {
  background-color: #89a4bc;
}
.second-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: auto;
    border-bottom: 1px solid lightgray;
}
.second-content .text {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
    margin: auto 0;
}
.third {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #61a4e2;
    padding-bottom: 2rem;
}
.title {
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
    text-align: center;
    padding: 2rem 0 1rem 0;
}
.info-curr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.class {
    display: inline-block;
    width: 25%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    background-color: #d9ebf4;
}
.class img {
    width: 100%;
    height: auto;
    display: block;
}
.class-text {
    display: inline-block;
    min-height: 150px;
    margin: 1rem 0 1.5rem 1.5rem;
}
.class-text h3 {
    margin: 1rem 0;
}
.class-text h5 {
    margin: 0.5rem 0;
}
.class-text p {
    line-height: 1.25;
}
.fourth {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-height: auto;
    border-bottom: 1px solid lightgray;
}
.title {
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
    text-align: center;
    padding: 2rem 0 2rem 0;
}
.thesis-vid {
    display: block;
    position: relative;
    width: 55%;
    overflow: hidden;
    padding: 0 1rem 1.5rem 1.5rem;
}
.thesis-vid video {
    border: 1px solid lightgray;
}
.thesis-vid span {
    display: block;
    position: relative;
    padding-top: 2rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    line-height: 1.5;
}
.thesis-vid span p {
    margin-top: 1rem;
}
.thesis-info {
    position: relative;
    width: 40%;
    height: auto;
}
.thesis-parts {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}
.thesis-parts img {
    display: inline-block;
    width: 35%;
    height: auto;
    margin: 1rem;
    float: left;
}
.thesis-text {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 1.5;
    margin: auto 0;
}
.thesis-parts p {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
footer {
    padding: 1rem 1.5rem 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.75rem;
}
footer .links p {
    padding: 0 0.5rem;
}
